/* Signup.module.css */
.container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.left img {
 width: 151%;
 height: 96%;
}

.right {
  flex: 1;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin-left: 25%;
}

h2 {
  width: 34%;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 30px;
}

.formContainer {
  width: 100%;
  max-width: 400px;
}

.inputGroup {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #999;
}

.inputGroup input {
  width: 100%;
  padding: 14px 0 6px 0;
  font-size: 16px;
  border: none;
  border-radius: 0;
  background: none;
  outline: none;
  color: #000;
}

.inputGroup label {
  position: absolute;
  left: 0;
  top: 14px;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Floating effect */
.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #000;
}

.primaryButton {
  width: 105%;
  padding: 14px;
  background-color: #db4444;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.googleButton {
  width: 105%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.googleButton img {
  height: 20px;
  width: 20px;
}

.loginText {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.loginText a {
  color: #db4444;
  text-decoration: none;
  font-weight: 500;
}
