.aboutContainer {
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 65px;
}

.breadcrumb {
  color: black;
  font-family: "Poppins";
  text-align: left;
  margin-bottom: 119px;
  font-size: 1rem;
  
}

.title {
  font-size: 52px;
  margin-bottom: 46px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 64px;
}
.link {
  color: gray;
  font-family: "Poppins";
}
.storySection {
  display: flex;
 
 
  gap: 40px;
  margin-bottom: 115px;
  flex-wrap: wrap;
}

.storyImage {
  width: 750px;
  height: 650px;
  border-radius: 10px;
  margin-top: -490px;
  margin-left: 882px;
}
.firstP {
    font-size: 16px;
    font-family: "Poppins";
}
.text {
  max-width: 600px;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.stats {
  width: 113%;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 60px;
  margin-left: -7%;
}

.stats h3 {
    font-size: 35px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.stats p {
    font-size: 16px;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  max-width: 250px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #000;
}

.role {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.social a {
  margin: 0 8px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.social a:hover {
  color: #0077b5;
}

.stats div {
  width: 270px;
  height: 230px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #0000004D;
  font-family: "Poppins";
  
}

.stats .active {
  background: #db4444;
  color: white;
}

.teamSection {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.teamCard {
  width: 200px;
  text-align: center;
}

.teamImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.services {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  font-family: "Poppins";
  margin-bottom: 100px;
}

.service {
  width: 274px;
  text-align: center;
}
.service h4 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 3px;
}
.service p {
    font-size: 14px;
    
}
.service img {
  height: 80px;
  margin-bottom: 10px;
}
.members {
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    gap: 92px;
    margin-bottom: 140077b50px;
}
.boxes {
    text-align: start;
    font-family: "Poppins";

}
.boxes h1 {
    font-weight: 500;
}
.box:hover {
  background-color: #DB4444;
  cursor: pointer;
  width: 280px;
  transform: 1s;
  transition: 0.5s;
  color: white;
  border: 1px solid #DB4444;
}
