.footerContainer {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.footerMainWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerSection {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.footerTitle,
.footerText,
.footerSubText,
.footerSmallerText {
  color: white;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.input {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 217px;
  height: 47px;
  color: white;
  padding: 0 40px 0 12px;
}

.sendIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  cursor: pointer;
}

.downloadWrapper {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.downloadWrapper p {
  color: #5a5353;
}

.downloadImage {
  margin-bottom: 15px;
}

.footerHr {
  border: none;
  height: 2px;
  background: #5a5353;
  margin: 30px 0;
  width: 100%;
  border-radius: 8px;
}

.footerCopyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrightText {
  color: #5a5353;
}
